<div class="container">
    <h3>{{title}}</h3> <hr>
    <router-outlet></router-outlet><br>
  
      <div class='table-responsive'>
        <table class='table' *ngIf = 'authors && authors.length'>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Country</th>
              <th>Genre</th>
              <th></th>
              <th></th>
            </tr>
           
          </thead>
          <tbody>  
              <tr *ngFor='let author of authors'>
                  
                  <td *ngIf="_auth.userlogged() || _auth.adminlogged()"><img src="{{author.img}}" height="165px" width="124px"></td>
                  <td>{{ author.name }}</td>
                  <td>{{ author.country }}</td>
                  <td>{{ author.genre }}</td>
                  <td>
                    <a [routerLink]="[':{{author._id}}']" [queryParams]="{ _id: author._id, name: author.name, country: author.country, genre: author.genre, img: author.img}" class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.adminlogged()" style="margin-bottom: 5px; width: 100px;"> Edit</a><br>
                    <button class="btn btn-warning" style="cursor:pointer; width: 100px;" *ngIf="_auth.adminlogged()"(click)="deleteAuthor(author)"> Delete</button><br>      
                    
                  </td>
                  
                </tr>              
          </tbody>
        </table>
      </div>  
  </div>
  