<h3>Enter author details</h3>
<hr>

 <div class="container">
    <form (ngSubmit) = "addAuthor()">
       <fieldset>
         <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Enter name of the author" name="name" [(ngModel)]="authorItem.name" required>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" class="form-control" placeholder="Enter country of author" name="country" [(ngModel)]="authorItem.country" required>
          </div>
         <div class="form-group">
           <label for="genre">Genre</label>
           <input type="text" id="email" class="form-control" placeholder="Enter author's genre" name="genre" [(ngModel)]="authorItem.genre" required>
         </div>
         <div class="form-group">
            <label for="img">Image</label>
            <input type="text" id="img" class="form-control" placeholder="Enter link for author's image" name="img" [(ngModel)]="authorItem.img" required>
          </div>

         <button type="submit" class="btn btn-primary" style="background-color: antiquewhite; color: darkcyan;">
            Add author</button>
       </fieldset>
     </form>
   
   </div>


